@import "normalize.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}

.swiper-button-prev,
.swiper-button-next {
  @apply rounded-full bg-white p-6;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 16px !important;
  @apply text-blackLightboxBg font-extrabold;
}